In [1]:
# Import libraries required
import requests
import pandas as pd

r = requests.get('https://environment.data.gov.uk/flood-monitoring/id/stations?parameter=rainfall')
j = r.json()

# Read through the response to the above url, which is a list of all rainfall sites and their "measures"
# create a data frame with a line for each "measure" (i.e. time series) and add the site metadata to this line
# result is a data frame for every rainfall time series

ts=[]
stationKeys = ['stationReference', 'notation', 'easting','northing','long','lat','@id','dateOpened', 'wiskiID' ]

for itm in j['items']:
    for m in itm['measures']:
        ts.append(m)
        subdict = {k: itm[k] for k in stationKeys if k in itm}
        ts[(len(ts)-1)].update(subdict)

df=pd.DataFrame(ts)
# Print the length (number of stations)
print(len(df))
# print the first 5 lines
df.head()

910

,@id,dateOpened,easting,lat,long,northing,notation,parameter,parameterName,period,qualifier,stationReference,unitName,wiskiID
0,http://environment.data.gov.uk/flood-monitorin...,2007-07-01,575978.0,50.878052,0.500069,111706.0,E7050,rainfall,Rainfall,900,Tipping Bucket Raingauge,E7050,mm,371112001
1,http://environment.data.gov.uk/flood-monitorin...,2001-06-14,456240.0,52.986245,-1.163701,343540.0,4163,rainfall,Rainfall,900,Tipping Bucket Raingauge,4163,mm,4163
2,http://environment.data.gov.uk/flood-monitorin...,1997-01-01,491800.0,52.493886,-0.649292,289300.0,E1310,rainfall,Rainfall,900,Tipping Bucket Raingauge,E1310,mm,L32033
3,http://environment.data.gov.uk/flood-monitorin...,NaN,467950.0,52.731520,-0.995167,315350.0,3680,rainfall,Rainfall,900,Tipping Bucket Raingauge,3680,mm,NaN
4,http://environment.data.gov.uk/flood-monitorin...,NaN,403850.0,52.635078,-1.944539,304150.0,3275,rainfall,Rainfall,900,Tipping Bucket Raingauge,3275,mm,NaN